body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.header{
  font-family: 'SimplerPro';
  color: #FFFFFF;
  background: #2C2C2C;
  border-right: 20px solid red;
  max-width:920px;
  margin:0 auto;
  margin-top: 25vh;
  margin-bottom: 10px;
  text-align: end;
  padding-right:5px; 
  font-size: 20px; 
}


*{
  font-family: Arial, Helvetica, sans-serif;
}











/* @font-face {
  font-family: 'SimplerPro';
  font-style: normal;
  font-weight: normal;
  src: local('SimplerPro'), url('SimplerPro.woff') format('woff');
  }
  
  @font-face {
  font-family: 'Simple Bold Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('Simple Bold Oblique'), url('Simple-BoldOblique.woff') format('woff');
  } */
